<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p class="mb-0">&copy; <%= new Date().getFullYear() %> HR & Payroll System. All rights reserved.</p>
    </div>
  </div>
</div>
